__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.history
.gradle
build
out
node_modules
frontend
.next
.git
.agents
.claude
openspec
tests
alembic
